# Database
DB_HOST=mysql.javawav.com
DB_PORT=3306
DB_NAME=pm2data
DB_USER=jasonpm2
DB_PASS=h5nD1EVAq

# Server
PORT=3000
HOST=0.0.0.0

# Session
SESSION_SECRET=change_this_to_a_random_64_char_string

# Node environment
NODE_ENV=production
